<?xml version="1.0"?>
<model>
  <name>sapodrone</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Aso Hidetoshi</name>
    <email>asouhide2002@gmail.com</email>
  </author>
  <author>
    <name>Kasai Shuma</name>
  </author>

  <maintainer email="asouhide2002@gmail.com">Aso Hidetoshi</maintainer>

  <description>
    SapoDrone
    https://x.com/KASAI0124/status/1736755620416762243
  </description>
</model>
